*{
      margin: 0;
      padding: 0;
}
body{
      font-family: "Fira Sans", serif;
      background: #f5f5f5;
}

/* extra shared code */
button.btn-primary {
      color: #fff;
      background: #006a50;
      font-weight: 700;
      border: 2px solid #006A50;
      border-radius: 8px;
      padding: 12px 13px;
      margin-top: 33px;

      transition: .5s;
}
.btn-primary:hover {
      background: red;
      border: none;
}

/* header section */

nav{
      display: flex;
      justify-content: space-around;
      padding: 20px 10px;
}

nav .title {
      font-size: 30px;
      text-align: left;
      color: #0E0E0E;
      margin-left: -199px;
}

nav .btn-out-primary {
      color: #006A50;
      background: #fff;
      padding: 10px 20px;
      font-weight: 700;
      border: 2px solid #006A50;
      border-radius: 8px;
      margin-right: -281px;
      transition: .5s;
}
.btn-out-primary:hover{
      background: #006A50;
      color: #fff;
}

/* banner section */
#banner{
      padding: 25px 88px;
      width: 1419px;
      
}
.container{
      padding: 102px 80px;
      background: #C6E4D6;
      width: 1100px;
      margin: 0 auto;
}

#banner .content{
      display: flex;
}
#banner p.sub-title {
      font-size: 24px;
      color: #0E0E0E80;
      font-weight: 500;
      margin-bottom: 20px;
}
#banner h2.title {
      font-size: 56px;
      font-weight: 700;
      text-align: left;
      padding-right: 13px;
      /* margin-right: 258px; */
  }



/* future section */
#future{
      padding: 25px 88px;
      width: 1419px;
}
h2.future-title {
      font-size: 35px;
      padding: 12px 0;
}
p.future-sub-title {
      font-size: 14px;
      color: #0E0E0EB3;
      padding: 8px 0;
}
.card-box {
      width: 345px;
      background: #5490F533;
      padding: 10px;
}
.card-img img {
      width: 44px;
      margin-left: 13px;
}
.card-text p {
      color: #0E0E0EB3;
      font-size: 14px;
}
.card-text h4 {
      margin: 18px 0 12px;
}
.card-box button.btn-primary {
      padding: 9px 16px;
      background: #5490F5;
      border: none;
      margin-top: 47px;
}
.card-box .btn-primary:hover {
      background: red;
      border: none;
}
.card-text {
      padding: 10px 22px;
}
.future-card {
      display: flex;
      justify-content: space-around;
      gap: 25px;
      margin-top: 21px;
}
#future .container {
      background: #f5f5f5;
}
.cbb {
      background: #C6E4D6;
}
.cbb button.btn-primary {
      background: #09A15C;
}
.cbc {
      background: #F7EBCF;
}
.cbc button.btn-primary {
      background: #FFC239;
}


/* quote */
.quote{
background-image: url(../assets/quote-bg.png);
background-position-x: 21px;
background-repeat: no-repeat;
margin: 43px 0;
background-color: #fff;
padding: 27px 15px;
border-radius: 10px;
}
p.quote-description {
      color: #0E0E0ECC;
      font-size: 14px;
      padding: 16px 0;
}
h5.quote-title {
      font-size: 18px;
      padding: 5px 0;
}
p.quote-sub-title {
      font-size: 13px;
      color: rgba(14, 14, 14, 0.6);
}



/* Recent News section  */
#recent-news{
      padding: 25px 88px;
      width: 1419px;
}
#recent-news .container {
      background: #f5f5f5;
}
.recent-title h2.title {
      font-size: 36px;
      padding-bottom: 30px;
}
p.recent-news-des {
      color: rgba(14, 14, 14, 0.7);
      font-size: 14px;
      padding: 13px 0 30px;
}
.content-recent {
      display: flex;
      background: #fff;
      padding: 30px;
      border-radius: 20px;
}
.recent-img img {
      border-radius: 20px;
}
h3.recent-text-title {
      font-size: 28px;
      color: rgba(14, 14, 14, 0.8);
      /* margin-top: 15px; */
      padding: 10px 0;
}
.recent-text p {
      color: rgba(14, 14, 14, 0.7);
      padding: 10px 0;
      font-size: 14px;
}
.recent-text {
      padding: 0 44px;
}

.recent-revers {
      margin-top: 25px;
}
img.reverse-img {
      border-radius: 20px;
}  


/* Donate section  */
#donate{
      padding: 25px 88px;
      width: 1419px;
}
#donate .container {
      background: #f5f5f5;
}
h2.donate-title {
      text-align: center;
      font-size: 36px;
      padding: 20px 0;
}
p.donate-description {
      color: rgba(14, 14, 14, 0.7);
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      padding: 0 36px;
}
.donate-amount-items {
      display: flex;
      justify-content: space-around;
      margin-top: 25px;
}
h2.donate-item {
      background: #fff;
      font-size: 32px;
      padding: 30px;
      border-radius: 17px;
      color: rgba(14, 14, 14, 0.8);
      border: 1px solid rgba(14, 14, 14, 0.15);
      transition: .5s;
}
h2.donate-item:hover {
      background: rgba(255, 33, 73, 0.4);
      color: #fff;
}
h2.donate-item.bga {
      background: rgb(198, 228, 214);
}
h2.donate-item.bga:hover {
      background: #fff;
      color: #000;
}
.donate-type-amount input[type="text"] {
      width: 908px;
      height: 55px;
      margin-top: 25px;
      background: rgb(255, 255, 255);
}
.donate-type-amount {
      text-align: center;
}
.donate-type-amount input[type="text"] {
      width: 908px;
      height: 55px;
      margin-top: 25px;
      background: rgb(255, 255, 255);
      border: none;
      text-align: center;
      color: rgba(14, 14, 14, 0.3);
      font-family: Fira Sans;
      padding: 0 28px;
}
.donate-button {
      text-align: center;
}




/* subscribe section */
#subscribe{
      padding: 25px 88px;
      width: 1419px;
      
}
#subscribe .container{
      padding: 102px 80px;
      background: #C6E4D6;
      width: 1100px;
      margin: 0 auto;
      border-radius: 20px;
      text-align: center;
}
h2.subscribe-title {
      font-size: 36px;
      padding: 12px 0;
}
p.subscribe-sub-title {
      color: rgba(14, 14, 14, 0.7);
      font-size: 13px;
      padding: 0 275px;
}

/* input and button */
label {
      position: relative;
}
.subscribe-inp input[type="text"] {
      border: none;
      padding: 15px 231px;
      border-radius: 6px 0 0 6px;
}
button.btn-primary.inp-btn {
      position: absolute;
      /* top: -19px; */
      right: -80px;
      bottom: -15px;
      padding: 14px 44px;
      border-radius: 0 6px 6px 0;
}

.subscribe-inp {
      margin-top: 26px;
}
p.subc-msg {
      font-size: 13px;
      color: rgba(14, 14, 14, 0.7);
      margin-top: 27px;
}



/* footer section */
footer {
      background: #fff;
      padding: 50px 150px;
      text-align: center;
}
footer h3 {
      font-size: 30px;
      padding: 25px;
}
.social img {
      width: 25px;
      height: 25px;
      margin-right: 6px;
}
.social {
      margin-top: 25px;
}
hr {
      border: 1px solid rgba(14, 14, 14, 0.1);
      width: 819px;
      /* height: 1px; */
      margin-left: 191px;
}